@import "tailwindcss";
.container{

    padding: 50px ;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.waves{




    background: #F7E93F !important;
    background: linear-gradient(to top right, #F7E93F 0%, #FB09B4 50%, #9100F8 100%) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

/* Responsive */

@media screen and (max-width: 576px){
    .menu-nav,
    .btn-nav {
    display: none;
  }
  .navbar{
    width: 100%;
  }
    .hm-nav {
        display: block;
    }

  .divider {
    height: 1px;
    width: 90%;
  }
  .about-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
    align-items: center;
    
    
  }
  
}